* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(135deg, rgba(255, 206, 150, 0.1), #a8a8ff80);
  box-shadow: 0 0 15px rgba(255, 211, 140, 0.5);
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0 50px;
}

.home {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  max-width: 1200px;
  margin: 0 auto;
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.btn {
  font-family: "Martian Mono";
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 10px 20px;
  background-color: #fff5ef;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  border: 4px solid #000;
}

.home__content h1 {
  background: linear-gradient(70deg, #d28558, #062630);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Martian Mono";
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}
p {
  font-family: "inter sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.home__footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home__rating {
  display: flex;
  flex-direction: column;
}

.home__img {
  max-width: 500px;
  margin-bottom: 64px;
  border-radius: 20px;
}
